api:
  dashboard: true

log:
  level: INFO

accessLog: {}

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    network: traefik

  # This allows Traefik to serve custom local certificates
  file:
    filename: /etc/traefik/config.yml
    watch: true
